<a href="https://colab.research.google.com/github/ramukjonaM20/Python/blob/main/QTclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 1**. Hello World

In [ ]:
print('Hello World')

Hello World

Student Marklish

In [ ]:
name=input("Enter your Name : ")
id=int(input("Enter ID : "))
mark1=int(input("Mark One : "))
mark2=int(input("Mark Two : "))
total=mark1+mark2
print(total)

Enter your Name : abcd
Enter ID : 1234
Mark One : 56
Mark Two : 78
134

Hotel Bill

In [ ]:
name=input("Enter your Name : ")
phoneno=int(input ("Enter Phone number : "))
Dosa_pr=20
Itli_pr=10
Poori_pr=152
D=int(input("How many dosa : "))
I=int(input("How many Itli : "))
P=int(input("How many Poori : "))
Dosa=Dosa_pr*D
Itli=Itli_pr*I
Poori=Poori_pr*P
Total=Dosa+Itli+Poori
print("--------------------------")
print("Welcome to Savravanabavan")
print("--------------------------")
print("Dosa",Dosa_pr,"*",D,"=",Dosa)
print("Itli",Itli_pr,"*",I,"=",Itli)
print("Poori",Poori_pr,"*",P,"=",Poori)
print("--------------------------")
print("Total Amount = ",Total)
print("--------------------------")

Enter your Name : abcd
Enter Phone number : 9208
How many dosa : 2
How many Itli : 2
How many Poori : 2
--------------------------
Welcome to Savravanabavan
--------------------------
Dosa 20 * 2 = 40
Itli 10 * 2 = 20
Poori 152 * 2 = 304
--------------------------
Total Amount =  364
--------------------------

**Day 2**. if/elif

In [ ]:

a=int(input("Mark1 : "))
b=int(input("Mark2 : "))
c=int(input("Mark3 : "))
total=a+b+c
if total>250:
  print("Good")
else:
  print("Not Good")

Mark1 : 90
Mark2 : 89
Mark3 : 91
Good

In [ ]:
a=int(input("Mark1 : "))
b=int(input("Mark2 : "))
c=int(input("Mark3 : "))
total=a+b+c
if total>250:
  print("A Grade")
elif total<=250 and total>=200:
  print("B Grade")
else:
  print("C Grade")

Mark1 : 70
Mark2 : 72
Mark3 : 75
B Grade

**Day 3**. Operators

i.Arithmetic Operators

In [ ]:
a=5
b=4
add=a+b  #Addition
sub=a-b  #Subtraction
mul=a*b  #Multiplication
div=a/b  #Division
mod=a%b  #Modulus
exp=a**b #Exponentiation
fld=a//b #Floor division
print("Addition value : ",add)
print("Subtraction value : ",sub)
print("Multiplication value : ",mul)
print("Division value : ",div)
print("Modulus value : ",mod)
print("Exponentiation value : ",exp)
print("Floor division value : ",fld)

Addition value :  9
Subtraction value :  1
Multiplication value :  20
Division value :  1.25
Modulus value :  1
Exponentiation value :  625
Floor division value :  1

ii.Relation Operator

In [ ]:
a=5
b=6
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

iii.Logical Operator

In [ ]:
#and operator
a=int(input("Enter a : "))
b=int(input("Enter b : "))
c=int(input("Enter c : "))
if((a>b)and(a>c)):
  print("a is Big")
elif((b>c)and(b>a)):
  print("b is Big")
else:
  print("c is Big")

Enter a : 5
Enter b : 8
Enter c : 6
b is Big

In [ ]:
#or operator
a=5
b=-5
c=0
if a>0 or b>0:
  print("Either of the number is greater than 0")
else:
  print("No number is greater than 0")
if b>0 or c>0:
  print("Either of the number is greater than 0")
else:
  print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

In [ ]:
#not operator
a = 10
if not a:
    print("Boolean value of a is True")
if not (a%3 == 0 or a%5 == 0):
    print(a,"is not divisible by either 3 or 5")
else:
    print(a,"is divisible by either 3 or 5")

10 is divisible by either 3 or 5

iv.Membership Operator

In [ ]:
#in
vowels=['a','e','i','o','u']
char=input("Please Enter a Character : ")
char.lower()
if char in vowels:
  print(char,"is a Vowel")
else:
  print(char,"is not a Vowel")

Please Enter a Character : o
o is a Vowel

In [ ]:
#not in
5 not in [5,3,4,2]

False

v.Identity Operators

In [ ]:
#is
x=2
y=3
print(x is y)
id(x)
id(y)
print(id(x))
print(id(y))

False
134600155152656
134600155152688

In [ ]:
#is not
x=2
y=3
print(x is not y)
id(x)
id(y)
print(id(x))
print(id(y))

True
134600155152656
134600155152688

vi.Assignment Operator

In [ ]:
# +=,-=,*=,/=,%=,//=,**=,&=,|=,^=,>>=,<<=
a=10
b=2
function=input("Enter any one of the operator (+,-,*,/,%,//,**,&,|,^,>>,<<)\n")
if function=="+":
  a+=b
  print('Addition value is : ',a)
elif function=="-":
  a-=b
  print('Subtraction value is : ',a)
elif function=="*":
  a*=b
  print('Multiplication value is : ',a)
elif function=="/":
  a/=b
  print('Division value is : ',a)
elif function=="%":
  a%=b
  print('Modulus value is : ',a)
elif function=="//":
  a//=b
  print('Floor Division value is : ',a)
elif function=="**":
  a**=b
  print('Power value is : ',a)
elif function=="&":
  a&=b
  print('AND operator value is : ',a)
elif function=="|":
  a|=b
  print('OR operator value',a)
elif function=="^":
  a^=b
  print('XOR operator value',a)
elif function==">>":
  a>>=b
  print('right shift on operands',a)
elif function=="<<":
  a<<=b
  print('left shift on operands',a)
else:
  pass

Enter any one of the operator (+,-,*,/,%,//,**,&,|,^,>>,<<)
**
Power value is :  100

**Day 4**. Data Types

i.Numeric Data
*   Integer
*   Float
*   Complex

In [ ]:
a=5
print("Type of a is :",type(a))
b=5.2
print("Type of b is :",type(b))
c=1+2j
print("Type of c is :",type(c))

Type of a is : <class 'int'>
Type of b is : <class 'float'>
Type of c is : <class 'complex'>

ii.Sequence Data
*   List
*   Tuple
*   String

In [ ]:
#list
a=[5,5.2,"man",False,2+3j]
print(type(a)) #used to identify the type of a
print(a)
print("Length of a is ",len(a)) #used to identify the lenght of a
print(a[1]) #list is indexable
print(a[-2]) #indexing is possible in both left to right and right to left
a.append(70) #used to add values in list
print(a)
a.append([3,4,5]) #Nested List is allowed
print(a)
a.extend([3,4,5])  #Adding multiple value in the list is possible
print(a)
a.insert(5,"world") #Insert a value in the middle of the list using index number
print(a)
print(a.pop(7)) #pop is used to take any value from a list using index
print(a)
a.remove('world') #remove is used to remove a value from a list
print(a)
a.reverse() #reverse function is used to reverse a list
print(a)
a.reverse()
print(a)
a.clear()
print(a)
b=[5,11,2,21,9,1,4]
b.sort()
print(b)

<class 'list'>
[5, 5.2, 'man', False, (2+3j)]
Length of a is  5
5.2
False
[5, 5.2, 'man', False, (2+3j), 70]
[5, 5.2, 'man', False, (2+3j), 70, [3, 4, 5]]
[5, 5.2, 'man', False, (2+3j), 70, [3, 4, 5], 3, 4, 5]
[5, 5.2, 'man', False, (2+3j), 'world', 70, [3, 4, 5], 3, 4, 5]
[3, 4, 5]
[5, 5.2, 'man', False, (2+3j), 'world', 70, 3, 4, 5]
[5, 5.2, 'man', False, (2+3j), 70, 3, 4, 5]
[5, 4, 3, 70, (2+3j), False, 'man', 5.2, 5]
[5, 5.2, 'man', False, (2+3j), 70, 3, 4, 5]
[]
[1, 2, 4, 5, 9, 11, 21]